{% extends "base.html" %}

{% block content %}
<div class="container">
    <form class="form-inline" role="form" action="" method="post">
        {% csrf_token %}
        <strong>Sūtījuma numurs: {{parcel}}</strong><br/>
        {{form.comment.errors}}
        {{form.comment.label_tag}} {{form.comment}} 

            <br/><br/>
                <button type="submit" class="btn btn-default">Labot</button>

                <input type="submit" name="delete" value="Dzēst" class="btn btn-danger"/>
    </form>
</div>

{% endblock %}
